body{
    background-image: url("https://media.istockphoto.com/photos/timeline-planning-checklist-or-business-plan-with-calendar-date-on-picture-id1211255735?k=20&m=1211255735&s=612x612&w=0&h=eT_yt1ZzUGw053m8ycranQWs8-kL0VDv67DrqfxNGxw=");
    background-size: cover;
}
h1{
    font-size: 30px;
    font-family: 'Square Peg', cursive;
}

.main{
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7oVe-ORe-vprJ8V5_jW5rc22tYfEH6OKihrCO9SzAo0By6s7ncVJuSE0j5wz4Dq6N1BY&usqp=CAU");
    background-size: cover;
    overflow: scroll;
    /* scrollbar-width: none;
    overflow-y: hidden;
    scroll-bar:hide;
    scroll-behavior: ; */
}
.main:hover{
    background-image: url("https://images.wallpaperscraft.com/image/single/dubai_united_arab_emirates_sea_83651_1080x1920.jpg");
    background-size: cover;
}

.nav-bar{
    display: flex;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(130,147,118);
    border-radius: 5px;
}
button{
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
    outline: none;
}
input{
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
}
.todo_list{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
   
    
}
li{
    /* border: 1px solid red; */
    color: white;
    list-style: none;
    text-transform: capitalize;
    

}
.todo_list>input{
    margin-left: -35px;
}
i{
    color: white;
    font-size: 17px;
    margin-left: 80px;

}